---
name: build # this string appears on badge
on:
  - push
  - pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    name: "Go ${{ matrix.go }} build and behavioral tests"
    strategy:
      matrix:
        go:
          - "1.24"
          - "1.25"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "${{ matrix.go }}"
      - run: "go version"
      - run: "go build ./cmd/..."
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    name: "Unit tests and linting"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - uses: golangci/golangci-lint-action@v7
        with:
          version: "v2.6.1"
      - run: "go test -v -coverprofile=coverage.tmp -covermode=atomic -coverpkg=./pkg/... ./pkg/..."
      - run: "grep -v /pkg/app/ coverage.tmp >coverage.txt"
      - run: "diff coverage.tmp coverage.txt || true" # just to see what has been excluded
      - run: "rm coverage.tmp" # otherwise it will be taken into account
      - uses: codecov/codecov-action@v5
        with:
          files: ./coverage.txt
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }} # required
